form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

input,
button {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 200px;
  align-items: center;
}

button {
  width: 100px;
  padding: 5 20px;
}