* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.cityList {
  display: flex;
  flex-direction: column;
  text-align: center;

}

.city {
  display: flex;
  flex-direction: column;
  text-align: left;
  flex: 1 1 0;
  border: 1px solid black;
  margin: 10px auto;
  padding: 10px 40px;
  min-width: 400px;
}

.weather {
  margin: 50px auto;
}

h3 {
  margin-top: 10px;
}

h4 {
  margin-bottom: 10px;
}